@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Anton|Luckiest+Guy|acifico|Bangers|Rancho|Bungee+Shade|Fruktur|Gloria+Hallelujah|Josefin+Sans|Permanent+Marker');

html {
  animation: anima 3s infinite;
  background-color:#a80500;/*red*/
  box-shadow: inset 0px 0px 60px 20px currentColor;
}
@keyframes anima
{
  33%
  {
     background-color:#a80500;/*red*/
  }
  100%
  {
     background-color:#038e01;/*green*/
  }
  66%
  {
     background-color:#0c2fb7;/*blue*/  
  }
}
body {
  width : 90%;
  border: 4px solid black;
  margin: 50px 50px 50px 50px;
  animation: ani 3s infinite;
  background-color:#038e01;/*green*/
  box-shadow: inset 0px 0px 6px 2px currentColor;
}
@keyframes ani 
{
  66%
  {
     background-color:#a80500;/*red*/
  }
  33%
  {
     background-color:#038e01;/*green*/
  }

  100%
  {
     background-color:#0c2fb7;/*blue*/
  }
}
.border1{
border: 4px solid black;
margin:10px 10px 10px 10px;
animation: animat 3s infinite;
background-color:#0c2fb7;/*blue*/
box-shadow: inset 0px 0px 6px 2px currentColor;
}
@keyframes animat 
{
  100%
  {
     background-color:#a80500;/*red*/
  }
  66%
  {
     background-color: #038e01;/*green*/
 
  }
  33%
  {
     background-color:#0c2fb7;/*blue*/
 
  }
}
.border2{
border: 4px solid black;
margin:5px 5px 5px 5px;
background-color:#000000;
padding:10px;

}
h1 
{
  margin: 0;
  padding: 20px 0;    
  color: #ffffff;
  font-family: 'Bangers', cursive;
  text-shadow: 3px 6px 1px red;
  font-size: 100px;
  text-align: center;
  animation: animate 10s infinite;
}
@keyframes animate 
{
  0%
  {
     text-shadow:6px 6px 1px #f2634d;
  }
  10%
  {
     text-shadow:6px 6px 1px #4bbced;
  }
  20%
  {
     text-shadow:6px 6px 1px #3981e5;
  }
  30%
  {
     text-shadow:6px 6px 1px #05aa3c;
  }
  40%
  {
     text-shadow:6px 6px 1px #5ced40;
  }
  50%
  {
     text-shadow:6px 6px 1px yellow;
  }
  60%
  {
     text-shadow:6px 6px 1px #e0b43c;
  }
  70%
  {
     text-shadow:6px 6px 1px #e54069;
  }
  80%
  {
     text-shadow:6px 6px 1px #d24bea;
  }
  90%
  {
     text-shadow:6px 6px 1px #8f38e0;
  }
  100%
  {
     text-shadow:6px 6px 1px #ed3e3b;
  }
}
h2,ul 
{
  margin: 10px;
  padding: 20px 0;    
  color: #ffc402;
  font-family: 'Permanent Marker', cursive;
  
  font-size: 60px;
  text-align: left;
}
h3{
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 30px;
  color:white;
}
img 
{ 
  width : 500px;
  display: block;
  margin-left: 400px;
}
p,a{
  font-family: 'Rancho', serif;
  font-size: 38px; 
  line-height: 1;
  letter-spacing: 1px;
}
.rpi{
  margin-left: 100px;
  width: 300px;
  height: 200px;
}
.Controller{
  width: 300px;
  height: 200px;
  margin-top: -200px;
  margin-left: 900px;
}
.retro{
  width: 300px;
  height: 200px;
  margin-top: -200px;
  margin-left: 500px;
}
.one{
margin-left: 160px;
font-family: 'Fruktur', cursive;
font-size: 25px;
margin-bottom: 8px;
}
.two{
margin-top: -40px;
margin-left: 600px;
font-family: 'Fruktur', cursive;
font-size: 25px;
margin-bottom: 10px;
}
.three{
margin-top: -40px;
margin-left: 990px;
font-family: 'Fruktur', cursive;
font-size: 25px;
}
.sktch1{
  margin-left: 50px;
  width: 400px;
  height: 600px;
}
.sktch2{
  margin-left: 450px;
  margin-top: -600px;
  width: 400px;
  height: 600px;
}
.sktch3{
  margin-left: 850px;
  margin-top: -600px;
  width: 400px;
  height: 600px;
}
.sktch{
font-family: 'Architects Daughter', cursive;
}
video{
  margin-left: 450px;
  margin-top: -100px;
}
li{
  margin-left: 50px;
  font-family: 'Architects Daughter', cursive;
  color:white;
  font-size: 30px;
}
.noob{
   margin-left: 50px;
  width: 200px;
  height: 200px;
  border-image: 0px;
  border-radius: 50%;
}
.noob1{
   margin-left: 350px;
   margin-top: -200px;
  width: 200px;
  height: 200px;
  border-image: 0px;
  border-radius: 50%;
}
.noob2{
   margin-left: 650px;
   margin-top: -200px;
  width: 200px;
  height: 200px;
  border-image: 0px;
  border-radius: 50%;
}
.noob3{
  margin-left: 950px;
  margin-top: -200px;
  width: 200px;
  height: 200px;
  border-image: 0px;
  border-radius: 50%;
}
.one1{
margin-left: 100px;
font-family: 'Luckiest+Guy', cursive;
font-size: 25px;
margin-bottom: 8px;
color:white;
}
.two2{
margin-top: -40px;
margin-left: 410px;
font-family: 'Luckiest+Guy', cursive;
font-size: 25px;
margin-bottom: 9px;
color:white;
}
.three3{
margin-top: -40px;
margin-left: 700px;
font-family: 'Luckiest+Guy', cursive;
font-size: 25px;
color:white;
}
.four4{
margin-top: -61px;
margin-left: 1020px;
font-family: 'Luckiest+Guy', cursive;
font-size: 25px;
color:white;
}